@import url("components/collapse.css");
@import url("components/logo.css");
@import url("components/nabvar.css");
@import url("components/nav-link.css");
@import url("components/carousel.css");
@import url("components/container.css");
@import url("components/container-flex.css");
@import url("components/corps-avatar.css");
@import url("components/corps-texte.css");
@import url("components/titre-avatar.css");
@import url("components/titre-h2.css");
@import url("components/avatar.css");
@import url("components/font-footer.css");
@import url("components/card-team.css");
@import url("components/footer.css");

.maria {
	object-position: top;
}

form {
	width: 60%;
}

.card-team img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}


.card-team-infos {
	display: flex;
	align-items: center;
}


.cards {

	padding-top: 32px;

}






.footer .icons {
	bottom: 0;
	right: 0;

}




